/* general */
 * {
  margin: 0;
  padding: 0;
  box-sizing:
  border-box;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* /general */

.page-wrapper{
  height: 100vh;
  background-color: #000;
}

.color-white{
  color:#fff;
}

body{
  font-family: 'Roboto', sans-serif;
}
/* <!-- sezione upgrade --> */
.upgrade{
  position: fixed;
  top:0;
  right:0;
  height: 80px;
  width: calc(100% - 300px);
  z-index: 1;
  background-color: #080B12;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade a{
  text-decoration: none;
  color:#C4C4C6;
  margin-right:30px;
  border: 2px solid #C4C4C6;
  border-radius: 23px;
  padding: 10px 30px;
  font-size: 16px;
}

.upgrade a:hover{
  font-size:20px;
  border-color: #fff;
  color:#fff;
}
/* <!-- /sezione upgrade --> */
main{
  height: calc(100vh - 80px);
  display: flex;
}

/* <!-- menu laterale --> */
aside{
  position: relative;
  width: 300px;
  height: 100% ;
  padding-left: 30px;
  background-color: #000;
  color:#5C5C5C;
  overflow: hidden;
}

aside li{
  list-style: none;
  padding: 5px 0;
  font-weight: bolder;
}

aside a{
  text-decoration: none;
  color:inherit;
}
/* <!-- aside logo --> */
.aside-logo{
  height: 80px;
}

.aside-logo img{
  /* width: 140px; */
  height: 42px;
  margin-top:19px;
}
/* <!-- /aside logo --> */
/* <!-- aside nav --> */

/* .aside-nav{
  padding-top:80px;
} */

.aside-nav img{
  width: 30px;
  /* height: 25px; */
  vertical-align: middle;
}

.aside-nav li{
  /* line-height: 25px; */
  font-size: 14px;
}

.aside-nav li:first-child{
  color:#9A9A9A;
  position: relative;
}
.aside-nav__border{
  border-left: 3px solid #93CF2E;
  display: inline;
  height: 80%;
  width: 1px;
  position: absolute;
  left:-30px;
}

.aside-nav li:hover{
  color:#fff;
}
/* <!-- /aside nav --> */
/* <!-- aside playlist --> */
.aside-playlist{
  height: 50%;
  overflow-y: hidden;
}

.playlist-list{
  height: calc(100% - 105px);
  overflow-y: auto;
}

@media screen and (max-height:350px){

  .aside-bottom{
    display: none;
  }
}

.aside-playlist h3{
  padding-top:20px;
  color:#fff;
}

.aside-playlist a{
  font-weight: bolder;
  font-size: 18px;
}

.fa-plus-square{
  font-size: 40px;
  color:#a3a3a3;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  position: relative;
  left:calc(-2px);
  top:calc(-4px);
}

.plus-playlist{
  display: inline-block;
  margin: 10px 0;
  margin-right: 10px;
  border:5px solid #a3a3a3;
  height:40px;
  width: 40px;

}


.secondary-menu li:hover, .secondary-menu a:hover{
  color:#fff;
}
/* <!-- /aside playlist --> */
/* <!-- aside bottom --> */
.aside-bottom{
  /* background-color: green; */
  position: absolute;
  bottom:0;
  width: calc(100% - 50px);
  background-color: #000;
  padding-top: 10px;
}

.aside-bottom img{
  margin-right:15px;
  vertical-align: middle;

}
.aside-bottom__download{
  width: 20px;
}
.aside-bottom hr{
  margin-bottom: 20px;
  margin-top:10px;
}
.aside-bottom h3{
  margin-bottom:10px;
  color:#fff;
  cursor:pointer;
}
.aside-bottom__profile{
  width: 30px;
  height: 30px;
  background-color: #808080;
  border-radius: 50%;
}

/* <!-- /aside bottom --> */
/* aside responsive */
/* larghezza corpo centrale */
.main-content{
  width: calc(100% - 300px)
}
/* /larghezza corpo centrale */
.aside-responsive{
  display: none;
  text-align: center;
  margin-top: 10px;
}

.aside-responsive img{
  width: 35px;
}
.aside-responsive img:hover{
  width: 50px;
}
.aside-responsive ul:last-of-type{
  position: absolute;
  bottom:10px;
  left:10px;
}

.aside-responsive__down li:last-child{
  background-color: grey;
  border-radius: 50%;
  width:30px;
  height: 30px;
}
.aside-responsive__down img:last-of-type{
  width: 20px;
  height: 20px;
}
@media screen and (max-width:768px){
  aside{
    width: 50px;
    padding: 0;
  }
  .d-xs-none{
    display: none;
  }
  .main-content, .upgrade{
    width: calc(100% - 50px);
  }
  .aside-responsive{
    display: block;
  }

  .aside-nav__border{
    left:0;
    height: 40px;
    top:62px
  }
}
/* /aside responsive */

/* <!-- /menu laterale --> */
/* <!-- corpo centrale --> */
.main-content{
  height: 100%;
  /* width: calc(100% - 300px); */
  /* messa in sezione aside-responsive */
  background-color: #131922;
  overflow-y: auto;
  padding: 15px;
  padding-top:100px;
}
/* <!-- navbar sezioni --> */
.main-content__nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-content__nav li{
  display: inline-block;
  text-transform: uppercase;
  margin-right:15px;
  margin-bottom:20px;
  color:#7B7E82;
  font-weight: bold;
}

.main-content__nav li:hover{
  color:#fff;
}

.nav__border{
  border-bottom:3px solid #93CF2E;
  width: 30%;
  height: 1px;
  margin: auto;
  margin-top:3px;
}
/* <!-- /navbar sezioni --> */
/* <!-- box --> */
.main-content__box{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-content__row h2:first-child{
  margin-bottom:30px;
  margin-left: 10px;
}
.main-content__row > p{
  color:#5C5C5C;
  font-size: 14PX;
  margin-left: 10PX;
  margin-top:-25px;
  margin-bottom:20px;
  font-weight: bold;
}

.box{
  text-align: center;
  width: calc(100% / 6 - 20px);
  margin: 0 10px;
  margin-bottom:20px;
  position: relative;
}

.box img{
  width: 100%;
  max-height: 90%;
  margin-bottom:10px;
}

.box h3{
  margin-top:10px;
  margin-bottom:5px;
  padding: 0 3px;
  font-size: 16px;
}

.box p{
  color:#5C5C5C;
  font-weight: bold;
  font-size: 14px;
}

.box-rounded img{
  border-radius: 50%;
}

.main-content__box .overlay-box {
  /* display: none; */
  opacity: 0;
  transition: all .3s ease .15s;
  position: absolute;
  width: 100%;
  padding-top: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.overlay-box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 54px;
}

.box:hover .overlay-box {
  /* display: block; */
  opacity:1;
}

.box-rounded>.overlay-box{
  border-radius: 50%;
}

/* box responsive */
@media screen and (max-width:1100px){
  .box{
    width: calc(100% / 4 - 20px);
  }
}

@media screen and (max-width:892px){
  .box{
    width: calc(100% / 2 - 20px);
    /* margin: 0 25px; */
  }
}
/* /box responsive */
/* <!-- /box --> */
/* <!-- /corpo centrale --> */
/* <!-- sezione player  --> */
footer{
  position: relative;
  height: 80px;
  background-color: #282828;
  z-index: 1;
  color:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer i{
  cursor:pointer;
}
/* <!-- sezione titolo canzone --> */
.song{
  display: flex;
  align-items: center;
  max-width: 30%;
}

.song img{
  width: 45px;
  margin:0 20px;
}

.song p{
  font-weight: 600;
  color:#5C5C5C;
  font-size: 14px
}

.song__title h4:hover{
  text-decoration: underline;
}
.song__title p:hover{
  text-decoration: underline;
  color:#fff;
}

.song__liked{
  color:#5C5C5C;
  margin-left: 40px;
  word-spacing: 10px;
}

.song__liked i:hover{
  color:#fff;
}
/* <!-- /sezione titolo canzone --> */
/* <!-- sezione player canzone --> */
.player{
  font-size: 20px;
  width: 50%;
  text-align: center;
  position: relative;
  bottom:0;
  left:8%;
  /* transform: translate(50%,0); */
}

.player__button{
  margin-bottom: 10px;
  word-spacing: 15px;
}

.player .fa-play-circle{
  font-size: 35px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.player .fa-play-circle:hover{
  font-size: 40px;
}

.player .volume-slider{
  width: 80%;
  margin: auto;
  font-weight: bold;
  font-size: 12px;
}

.player .volume-slider__point{
  left:29%
}

.player .volume-slider::before{
  content: "0:25";
  position: absolute;
  top:-8px;
  left:-10%;
}
.player .volume-slider::after{
  content: "4:35";
  position: absolute;
  top:-8px;
  right:-10%;
}


/* <!-- /sezione player canzone --> */
/* <!-- sezione volume --> */
.volume{
  display: flex;
  width:30%;
  word-spacing: 15px;
  justify-content: flex-end;
}

.volume-slider{
  margin:0 10px;
  width: 90px;
  height: 5px;
  border:3px solid #5C5C5C;
  background-color: #5C5C5C;
  align-self: center;
  border-radius: 10px;
  position:relative;

}
.volume-slider__level{
  width: 30%;
  height: 4px;
  position: absolute;
  top:-3px;
  left:-2px;
  border:3px solid #C0C0C0;
  border-radius: 10px;
}
.volume-slider__point{
  display: none;
  width: 3px;
  height: 3px;
  border:7px solid #fff;
  border-radius: 50%;
  z-index: 1;
  position:absolute;
  top:-7px;
  left:25%
}
.volume-slider:hover .volume-slider__level{
  border-color:#93CF2E;
}
.volume-slider:hover .volume-slider__point{
  display: block;
}


/* <!-- /sezione volume --> */
/* sezione footer responsive */
@media screen and (max-width:768px){
  footer i{
  font-size: 14px;
  }

  .song img{
    margin:0 10px;
  }
  .song__liked{
    margin:0px;
  }

  .player{
    position: static;
  }
  .player__button{
    word-spacing: 5px;
  }
  .fa-play-circle{
    font-size: 25px;
  }
  .player .volume-slider{
    width: 60%;
  }
  .player .volume-slider::before{
    left:-20%;
  }
  .player .volume-slider::after{
    right:-20%;
  }

  .volume{
    word-spacing: 5px;
  }
  .volume-slider{
    margin: 0 5px;
    width: 60px;
  }

}
/* /sezione footer responsive */
/* <!-- /sezione player  --> */
